<?xml version="1.0" encoding="UTF-8"?>

<!-- $Id: phpunit.xml 861 2014-05-09 11:10:38Z glenn $ -->
<phpunit bootstrap="./Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Tests">
            <directory>./CodeaciousTest</directory>
        </testsuite>
    </testsuites>
</phpunit>
